<!DOCTYPE html>
<html>

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<head>
    <title>
        Air Quality Health
    </title>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header>
    <nav class="home">
        <ul>
            <a href="index.html" onclick="toggleBackground(this)">HOME</a>
        </ul>
    </nav>
</header>

<nav class="sidenav">
    <ul>
        <a href="index.html" onclick="toggleBackground(this)"><span class="material-icons">cloud</span></a>
        <a href="weather.html" onclick="toggleBackground(this)"><span class="material-icons">wb_sunny</span></a>
    </ul>
</nav>

<!-- Background -->
<section class="parallax">
    <h2 id="text"> </h2>
    <p id="text2"> </p>
    <img src="images/cloud1.png" id="back1">
    <img src="images/cloud2.png" id="back2">
    <img src="images/cloud3.png" id="back3">
</section>

<!-- Air Quality Index -->
<!--<section class="red"-->
    <section class="aqi" id="aqi-section">
        <body onload="setVariables()">
            <p><span id="airCondition"></span></p>
            <h1><span id="aqiNum"></span></h1>
        </body>
        <!--<h1>80</h1>-->
        <p>Air Quality Index</p>
    </section>

    <section class="aqi-text" id="textBox">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. <br><br>Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. <br><br>Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br>Excepteur sint occaecat 
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br><br> Dui 
            accumsan sit amet nulla facilisi morbi. <br><br>Dolor sit amet consectetur adipiscing elit pellentesque 
            habitant morbi tristique. <br><br>In nibh mauris cursus mattis molestie a iaculis at erat. Diam donec 
            adipiscing tristique risus. <br><br>Cras fermentum odio eu feugiat. Felis eget velit aliquet sagittis id. 
            <br><br>Euismod quis viverra nibh cras pulvinar mattis nunc sed. Orci ac auctor augue mauris augue neque 
            gravida in. <br><br>Consequat semper viverra nam libero justo. Morbi blandit cursus risus at ultrices mi 
            tempus imperdiet. <br><br>Cursus mattis molestie a iaculis at erat pellentesque adipiscing commodo. 
            Risus quis varius quam quisque. <br><br>Tortor aliquam nulla facilisi cras fermentum odio. Pharetra diam 
            sit amet nisl suscipit adipiscing. Ultricies mi eget mauris pharetra. <br><br>Suscipit tellus mauris a 
            diam maecenas sed enim. Molestie nunc non blandit massa enim. <br><br>Sed tempus urna et pharetra pharetra 
            massa massa ultricies. Senectus et netus et malesuada fames ac turpis egestas maecenas. </p>
    </section>

<!-- FOOTER -->
<footer>
    <div>
        
    </div> 
</footer>

<script src="script.js"></script>
</body>
</html>
