<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<head>
    <title>
        Air Quality Health
    </title>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

<!-- Header 
    <header>
        <nav class="home">
            <ul>
                <a href="index.html" onclick="toggleBackground(this)">HOME</a>
            </ul>
        </nav>
    </header> -->

    <nav class="sidenav">
        <ul>
            <a class="active" ><span class="material-icons">cloud</span></a>
            <a><span class="material-icons">wb_sunny</span></a>
        </ul>
    </nav>

<!-- Background -->
    <section class="parallax">
        <h2 id="text"> </h2>
        <p id="text2"> </p>
        <img src="images/cloud1.png" id="back1">
        <img src="images/cloud2.png" id="back2">
        <img src="images/cloud3.png" id="back3">
    </section>

<!-- Air Quality Index -->
<!--<section class="red"-->
    <section class="aqi" id="aqi-section">
        <body onload="setVariables()">
            <div id="loader-wrapper">
                <div id="loader"></div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
            <p><span id="airCondition">...</span></p>
            <h1><span id="aqiNum">...</span></h1>
        </body>
        <!--<h1>80</h1>-->
        <p>Air Quality Index</p>
        <div class="skills">
            <div class="bar-container">
                <p>PM<sub>2.5</sub> µg/m3</p>
                <h3 id="PM25">7.36</h3>
                <div class="bar">
                    <span class="percentage pm25" id="pm25-section"></span>
                </div>
            </div>
     
            <div class="bar-container">
                <p>PM<sub>10</sub> µg/m3</p>
                <h3 id="PM10">8.21</h3>
                <div class="bar">
                    <span class="percentage pm10" id="pm10-section"></span>
                </div>
            </div>
            <div class="bar-container">
                <p>CO µg/m3</p>
                <h3 id="CO">216.96</h3>
                <div class="bar">
                    <span class="percentage co" id="co-section"></span>
                </div>
            </div>
     
            <div class="bar-container">
                <p>SO<sub>2</sub> µg/m3</p>
                <h3 id="SO2">0</h3>
                <div class="bar">
                    <span class="percentage no" id="so2-section"></span>
                </div>
            </div>
     
            <div class="bar-container">
                <p>NO<sub>2</sub> µg/m3</p>
                <h3 id="NO2">1.03</h3>
                <div class="bar">
                    <span class="percentage no2" id="no2-section"></span>
                </div>
            </div>
     
            <div class="bar-container">
                <p>O<sub>3</sub> µg/m3</p>
                <h3 id="O3">60.08</h3>
                <div class="bar">
                    <span class="percentage o3" id="o3-section"></span>
                </div>
            </div>
        </div>
    </section>

    <section class="aqi-text" id="textBox">
        <p style="white-space: pre-line" id="gpt-response"></p>
    </section>

    <!--<section>
        <div class="inputDiv">
            <input type="text" name="condition" id="input" placeholder="Add a Medical Condition">
        </div>
    </section>-->
    <form action="console.log">
        <input type="text" placeholder="Add a Medical Condition">
        <button class="searchButton" id="button-color"><i class="material-icons">add</i></button>
        <body><?php echo $_POST["condition"]; ?></body>
    </form>

    <!--
    <form action="welcome.php" type="search" placeholder="Add a Medical Condition">
        <i class="material-icons">add</i><input type="text" name="condition">
    </form>
    <body><?php echo $_POST["condition"]; ?></body>
    
    <div class="searchBox">
        <input class="searchInput" type="text" name="" placeholder="Add a Medical Condition">
        <button class="searchButton" href="#"><i class="material-icons">add</i></button>
    </div>-->

    <!--<section class="bars">
        <p>CO<br><br>NO</li><br><br>NO<sub>2</sub><br><br>O<sub>3</sub><br><br>SO<sub>2</sub><br><br>NH<sub>3</sub></p>
    </section>

    <section>
        <ul class="chart">
            <li style="grid-column: span 9"></li>
            <li style="grid-column: span 11"></li>
            <li style="grid-column: span 5"></li>
            <li style="grid-column: span 11"></li>
            <li style="grid-column: span 6"></li>
            <li style="grid-column: span 6"></li>
        </ul> 
    </section>-->
<!-- FOOTER -->
<footer>
    <div>
        
    </div> 
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="script.js"></script>
</body>
</html>
