<!DOCTYPE html>
<html>

<link rel="stylesheet" href="style.css">

<head>
    <title>
        AQH
    </title>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header>
    <nav class="navigation">
        <ul>
            <a href="index.html" class="header-link" onclick="toggleBackground(this)">HOME</a>
        </ul>
    </nav>
</header>

<!-- Background -->
<section class="parallax">
    <h2 id="text"> </h2>
    <p id="text2"> </p>
    <img src="images/cloud1.png" id="back1">
    <img src="images/cloud2.png" id="back2">
    <img src="images/cloud3.png" id="back3">
</section>

<!-- Air Quality Index -->
<section class="aqi">
    <p>Good</p>
    <script>
        function myFunction() {
        var aqi = 100;
        document.getElementById("aqiNum").innerHTML = aqi;
        }
    </script>
    <body onload="myFunction()">
        <h1><span id="aqiNum"></span></h1>
    </body>
    <!--<h1>80</h1>-->
    <p>Air Quality Index</p>
</section>

<section class="aqi-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. <br><br>Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat. <br><br>Duis aute irure dolor in reprehenderit in 
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br>Excepteur sint occaecat 
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<!-- FOOTER -->
<footer>
    <div>
        
    </div> 
</footer>

<script src="script.js"></script>
</body>
</html>
