@import url('https://fonts.googleapis.com/css?family=Inter:200,300,400,500,600,700,800,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}

body {
    /*min-height: 100vh;
    max-height: 8000px;*/
    overflow-y: scroll;
    overflow-x: scroll;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 100;
}

.home a {
    text-decoration: none;
    color: #97af9c;
    padding: 6px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.home a:hover,
.home a.active {
    background: #97af9c;
    color: #2c263a;
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: #0b6e4f1b;*/
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 40px;
    font-size: 30px;
    color: #c8cecb;
    transition: 0.3s;
    margin-bottom: 100px;
}

.sidenav a:hover {
    color: #eff0bd;
}

.sidenav a.active {
    color: #b1e9b7b3;
} 

.parallax {
    display: flex;
    justify-content: right;
    height: 100vh;
    padding: 180px 80px;
}

#text {
    position: absolute;
    font-size: 4.9em;
    color: #ffffff;
}

#text2 {
    padding: 120px 10px;
    position: absolute;
    font-size: 1.4em;
    color: #cdc6df;
}

.parallax img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    pointer-events: none;
    z-index: auto;
}

.aqi {
    /*position: sticky;
    top: 100px;*/
    position: absolute;
    top: 100px;
    left: 30vw;
    /*background: rbga(150, 219, 219, 0.1);
    background: #96DBDB;
    opacity: 0.1;*/
    background: #7fb68590;
    padding: 65px;
    width: 40%;
    z-index: 1;
    border-radius: 8px;
}

.aqi h1 {
    font-size: 5em;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

.aqi p {
    font-size: 1em;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
}

.aqi-text {
    position: absolute;
    top: 390px;
    left: 30vw;
    padding: 40px 50px;
    width: 40%;
    z-index: 1;
    border-radius: 8px;
}

.aqi-text p {
    font-size: 1em;
    color: #ffffff;
    font-weight: 400;
    text-align: left;
}


.searchButton {
    color: white;
    left: 50vh;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #0a5747;
    transition: 0.4s;
    border-width: 1;
    border-color: #FFFFFF;
}

form {
    position: relative;
    top: 450px;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 35px;
    height: 35px;
    background: #0a5747;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 0px;
    z-index: 2;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 35px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 20px;
}

form:hover {
    width: 300px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

.bar-container p {
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 15px;
    text-align: left;
    padding-right: 10px;
    float: left;
}

.bar-container h3 {
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 15px;
    text-align: right;
}

.bar {
    width: 250px;
    margin-bottom: 5px;
    background-color: rgba(226, 241, 230, 0.756);
    border-radius: 30px;
    z-index: 2;
}

.percentage {
    display: block;
    height: 15px;
    background-color: rgb(91, 198, 127);
    /*background-color: rgb(210, 68, 68);
    background-color: rgb(223, 177, 84);*/
    border-radius: 30px;
    animation: progress 1000ms ease-in 1;
}

.co {
    width: 85%;
    background-color: rgb(219, 99, 99);
}
.no {
    width: 70%;
    background-color: rgb(235, 198, 122);
}
.no2 {
    width: 55%;
}
.o3 {
    width: 75%;
    background-color: rgb(219, 99, 99);
}
.so2 {
    width: 65%;
    background-color: rgb(235, 198, 122);
}
.nh3 {
    width: 55%;
}

@keyframes progress {
    from {
        width: 0;
    }
}

.skills {
    position: absolute;
    top: 22px;
    left: 270px;
    justify-content: space-between;
}
