<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<head>
    <title>
        Seasonal Affective Disorder
    </title>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

<!-- Header 
    <header>
        <nav class="home">
            <ul>
                <a href="index.html" onclick="toggleBackground(this)">HOME</a>
            </ul>
        </nav>
    </header> -->

    <nav class="sidenav">
        <ul>
            <a href="index.html" onclick="toggleBackground(this)"><span class="material-icons">cloud</span></a>
            <a class="active" href="weather.html" onclick="toggleBackground(this)"><span class="material-icons">wb_sunny</span></a>
        </ul>
    </nav>

<!-- Background -->
    <section class="parallax">
        <h2 id="text"> </h2>
        <p id="text2"> </p>
        <img src="images/cloud1.png" id="back1">
        <img src="images/cloud2.png" id="back2">
        <img src="images/cloud3.png" id="back3">
    </section>

<!-- Air Quality Index -->
<!--<section class="red"-->
    <div id="aqi-section" class="aqi" id="aqi-section">
        <div onload="setVariables()">
            <p><span id="airCondition"></span></p>
            <h1><span id="aqiNum"></span></h1>
        </div>
        <!--<h1>80</h1>-->
        <p>Air Quality Index</p>
        <div class="skills">
            <div class="bar-container">
                <p>CO</p>
                <div class="bar">
                    <span class="percentage co"></span>
                </div>
            </div>
     
            <div class="bar-container">
                <p>NO</p>
                <div class="bar">
                    <span class="percentage no"></span>
                </div>
            </div>
     
            <div class="bar-container">
                <p>NO<sub>2</sub></p>
                <div class="bar">
                    <span class="percentage no2"></span>
                </div>
            </div>
     
            <div class="bar-container">
                <p>O<sub>3</sub></p>
                <div class="bar">
                    <span class="percentage o3"></span>
                </div>
            </div>
     
            <div class="bar-container">
                <p>SO<sub>2</sub></p>
                <div class="bar">
                    <span class="percentage so2"></span>
                </div>
            </div>
     
            <div class="bar-container">
                <p>NH<sub>3</sub></p>
                <div class="bar">
                    <span class="percentage nh3"></span>
                </div>
            </div>
        </div>
    </section>

    <section class="aqi-text" id="textBox">
        <p id=""></p>
    </section>

    <form action="console.log">
        <input type="search" placeholder="Add a Medical Condition">
        <button class="searchButton"><i class="material-icons">add</i></button>
        <!--<input type="text" name="condition">-->
        <body><?php echo $_POST["condition"]; ?></body>
    </form>

<!-- FOOTER -->
<footer>
    <div>
        
    </div> 
</footer>

<script src="script.js"></script>
</body>
</html>
